
footer {
	display: block;
}


body {
	color: #657;
	font-family: cambria, palatino, georgia, serif;
}


p {
	width: 800px;
	margin: 40px auto;
	line-height: 1.75em;
}


h1 {
	text-align: center;
	color: #fff;
	background-color: #05a5ff;
	font-family: monospace;
	font-size: 100px;
	line-height: 120px;
	padding: 120px 0 20px;
	margin: 0;
	font-weight: normal;
}


h2 {
	margin: 20px auto 40px;
	font-size :24px;
	letter-spacing: 0.05em;	
	text-align: center;
}


#holder {
	height: 300px;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
}


div.inner-holder {
	height: 50%;
	position: relative;
	top: 50%;
}


#landing-zone {
	font-size: .9em;
	width: 100px; 
	height: 100px; 
	border: 5px dashed #ccc;
	margin-left: 50px;
	position: relative;
	top: -55px;
	display: inline-block;
	background: url(../img/busy.gif) 0 -9999px no-repeat;
}


#landing-zone.busy {
	background-position: 50% 50%;
}


#landing-zone span {
	display: block;
	color: #999;
	text-align: center;
	margin-top: 33px;
}


#landing-zone.busy span {
	display: none;
}


ul {
	position: absolute;
	top: 0;
	left: 160px;
	padding-right: 25px;
}


li {
	float: left;
	position: relative;
	margin-left: 25px;
	height: 50%;
}


li img {
	position: absolute;
	top: 0;
	left: 25px;	
}

